.search {
  background-color: #ffffff;
  padding: 5rem;

  display: grid;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 4.5rem;

  &__search-control {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-column-gap: 1rem;
    font-size: 1.6rem;
    text-align: center;
  }

  &__search-input {
    text-indent: 1rem;
    border-radius: 0.5rem;
    border-style: none;
    border: 1px solid black;
    &:focus {
      outline: 0;
    }
  }

  &__search-button {
    background-color: $color-primary;
    padding: 1rem 0;
    transition: all 0.2s;
    border-radius: 0.5rem;
    color: white;
    &:hover {
      color: white;
      cursor: pointer;
      background-color: #4b0dc2;
    }
  }
}
