.header {
  background-color: #7433f1; }
  .header__primary {
    color: white;
    grid-column: 2 / span 1;
    justify-self: center;
    font-size: 4rem;
    padding: 4.5rem; }
  .header__quinary {
    font-size: 1.6rem;
    margin-bottom: 2rem; }

.content {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85vh; }

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr) min-content;
  font-size: 1.6rem;
  grid-column-gap: 1rem;
  white-space: nowrap; }

ul {
  list-style: none; }

li {
  margin-top: 1rem; }

li a {
  color: #7433f1;
  transition: all 0.2s; }
  li a:hover {
    color: #b592f8; }

.repoName {
  text-decoration: none;
  color: black;
  transition: all 0.2s; }
  .repoName:hover {
    color: #7433f1; }
  .repoName:focus {
    outline: none; }

.search {
  background-color: #ffffff;
  padding: 5rem;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 4.5rem; }
  .search__search-control {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-column-gap: 1rem;
    font-size: 1.6rem;
    text-align: center; }
  .search__search-input {
    text-indent: 1rem;
    border-radius: 0.5rem;
    border-style: none;
    border: 1px solid black; }
    .search__search-input:focus {
      outline: 0; }
  .search__search-button {
    background-color: #7433f1;
    padding: 1rem 0;
    transition: all 0.2s;
    border-radius: 0.5rem;
    color: white; }
    .search__search-button:hover {
      color: white;
      cursor: pointer;
      background-color: #4b0dc2; }

.favorites {
  background-color: #f3ecfe;
  padding: 5rem;
  font-size: 1.6rem; }
  .favorites-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr) min-content;
    font-size: 1.6rem;
    grid-column-gap: 1rem; }
  .favorites__favorites-headers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem; }
  .favorites__favorites-result {
    display: grid;
    grid-template-columns: repeat(3, 1fr) min-content; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 2000px) {
    html {
      font-size: 70%; } }
  @media only screen and (max-width: 1600px) {
    html {
      font-size: 50.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 45%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-width: 300px; }

.container {
  display: grid;
  grid-template-rows: min-content min-content minmax(min-content, 100vh) repeat(6, min-content);
  height: 100vh;
  grid-template-columns: [full-start] 1fr [center-start] minmax(min-content, 144rem) [center-end] 1fr [full-end]; }

.header {
  grid-column: full-start/full-end;
  display: grid;
  padding: 0 1rem;
  grid-template-columns: 1fr minmax(min-content, 144rem) 1fr;
  height: 15vh;
  align-content: center; }
  @media only screen and (max-width: 1200px) {
    .header {
      padding: 0 1rem; } }

#root {
  grid-column: span 3; }
